mqtt-noderedfile
[{"id":"272fa753.e273b8","type":"tab","label":"Mqtt-toMongodb","disabled":false,"info":""},{"id":"c8f56fbb.560248","type":"mongodb2 in","z":"272fa753.e273b8","service":"_ext_","configNode":"3fa47ac7.e36bfe","name":"","collection":"myCollection","operation":"insert","x":760,"y":140,"wires":[["141d8140.c3dcdf"]]},{"id":"71cf94ef.561dbc","type":"inject","z":"272fa753.e273b8","name":"","topic":"","payload":"{\"id\":\"test\",\"temp\":150}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["9dff686.9f68e98"]]},{"id":"141d8140.c3dcdf","type":"debug","z":"272fa753.e273b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":60,"wires":[]},{"id":"ace15e50.d50ce","type":"mqtt in","z":"272fa753.e273b8","name":"","topic":"/iot/home/#","qos":"2","broker":"2f98b3d3.9bd4bc","x":110,"y":240,"wires":[["304011c9.d8cd3e"]],"outputLabels":["msg.payload"]},{"id":"f6755c3b.4e069","type":"debug","z":"272fa753.e273b8","name":"mqttout","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":280,"wires":[]},{"id":"304011c9.d8cd3e","type":"json","z":"272fa753.e273b8","name":"String2Json","property":"payload","action":"","pretty":false,"x":410,"y":220,"wires":[["9dff686.9f68e98"]]},{"id":"ecb707de.21a258","type":"comment","z":"272fa753.e273b8","name":"","info":"","x":120,"y":60,"wires":[]},{"id":"9dff686.9f68e98","type":"change","z":"272fa753.e273b8","name":"addtime","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":440,"wires":[["c8f56fbb.560248","f6755c3b.4e069"]]},{"id":"3fa47ac7.e36bfe","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/test","name":"dockermongo","options":"","parallelism":"-1"},{"id":"2f98b3d3.9bd4bc","type":"mqtt-broker","z":"","name":"localhostmqtt","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"/iot/broker","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]